.statusalert {
    color: green;
    font-weight: bolder;
}

.update {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
}

.status {
    margin: 15px 0 !important;
    font-weight: bolder !important;
}

.device-status-container{
    margin-top: 20px;
    margin-left: 20px;
}

.device-status-select{
    width: 100%;
    margin-bottom: 10px;
}

.device-status-button{
   display: flex;
   justify-content: center;
}
