.forgot-password-error {
    text-align: center;
    font-style: italic;
    color: red;
    white-space: pre-wrap;
}

.forgot-password-success {
    text-align: center;
    font-style: italic;
    color: green;
}