.user-view-icon-enc{
    border-bottom:2px dashed #ccc;
    margin-bottom: 40px;
    margin-top: 20px;
}

.user-view-label {
    margin-top: 4px;
    font-weight: 600;
    font-size: 18px;
    text-align: left;
}

.user-view-content-enc{
    background:rgba(0, 0, 0, 0.05);
    padding:10px 0 30px;
    margin-bottom:30px;
    border-radius: 10px;
}

.user-view-icon{
    font-size: 3.5em;
    display: inline-block;
    width: initial !important;
    margin-bottom: 30px;
}

.wordbreak{
    word-break:break-all;
}