.error-alert {
    border: 1px solid red;
    border-radius: 4px;
  
    .css-yk16xz-control {
      border-width: 0px;
    }
  }

  .reset-password-error{
    color: red;
    text-align: center;
  }
  .reset-password-success{
    color:green;
    text-align: center;
  }